<!doctype HTML>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <%= js_init_data_tag('foo_init', {foo: 'bar', fizz: 'buzz'}.to_json) %>
    <%= js_init_data_tag('other_init', {something: "else"}.to_json) %>
  </head>
  <body>
    <script src="/js/app.js" type="text/javascript"></script>
  </body>
</html>
